@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

:root{
    --background: linear-gradient(135deg, #667eee7e 0%, #764ba298 100%);
    --color-primary: #667eee;
    --color-secondary: #764ba2;
    --boton-padding: 20px 40px;
}   
body{
    font-family: 'Raleway', sans-serif;
}

.container{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 80px 0;
    max-width: 1200px;
}  

.subtitle{
    color: var(--color-primary);
    font-size: 2.5rem;
    margin-bottom: 35px;
}

.hero{
    height: 100vh;
    background-image: var(--background), url(../assets/m-work.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.hero .container{
    padding: 0;
}

.nav{
    display: flex;
    justify-content: flex-end;
    height: 70px;
    align-items: center;
    font-weight: 700;
}

.nav--footer{
    font-weight: 3000;
    justify-content: flex-start;
}

.nav__items{
    color: white;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px 15px;
    font-weight: inherit;
}

.nav__items--cta{
    border: 1px solid white;
}

.nav__items--footer{
    padding: 10px;
}

.hero__texts{
    width: 80%;
    margin-bottom: 50px;
}

.hero__title{
    font-size: 3.2rem;
}

.hero__subtitle{
    font-size: 2rem;
    font-weight: 300;
    margin: 15px 0;
}

.hero__container{
    display: flex;
    height: calc(100vh - 70px);
    align-items: center;
    color: white;
}
.hero__cta{
    display: inline-block;
    background: white;
    padding: var(--boton-padding);
    color: var(--color-primary);
    text-decoration: none;
    border-radius: 40px;

}

.hero__wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
}

/*about*/

.presentation{
    padding-top: 0;
    text-align: center;
}

.presentation__picture{
    width:150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
}

.presentation__copy{
    width:80%;
    margin: 0 auto;
}

.presentation__cta{
    display: inline-block;
    margin-top: 30px;
    background-color: var(--color-primary);
    color: white;
    text-decoration: none;
    padding: var(--boton-padding);
    border-radius: 40px;
}

.about{
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 80px;
    justify-items: center;
    align-items: center;
}

.about__img{
    text-align: center;
}

.about__img--left{
    text-align: left;
}

.about__picture{
    max-width: 80%;
}
.about__paragraph{
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: 300;
}

/*prjects*/

.testimony  .container {
    background-color: #f2f2f2;
    width: 100%;
}


.testimony__grid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:30px
}

.testimony__item{
    width: 95%;
    margin: 0 auto;
    background-color: var(--color-secondary);
    box-shadow: 0 8px 10px rgba(66,66,66,0.5);
    border-radius: 7px;
    padding: 30px 25px;
    color:white;
    margin-bottom: 50px;
}

.testimony__person{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.testimony__img{
    width: 100px;
    min-width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    border: 3px solid white;
    margin-right: 30px;
}

.testimony__name{
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.testimony__verification{
    color: #e0afa0;
    font-weight: 700;
}

.testimony__review{
    font-weight: 300;
}

/*footer*/

.footer{
    background-color: var(--color-primary);
    height: 30vh;
    padding: 2rem;
}

.footer__grid{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;
    align-items: center;
}

.footer__title{
    font-weight:400;
    color: white;
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
}

.footer_icons{
    display: flex;
    justify-content: center;
}

.footer__container-icons{
    display: inline-block;
    width: 60px;
    height: 60px;
    color:white;
    text-align: center;
    border: 1px solid white;
    border-radius: 50%;
}
.footer__icon{
    color:inherit;
    font-size:30px;
    text-decoration: none;
    
}
.footer__container-icons .footer__icon{
    line-height: 60px;
}